{% extends 'base.html.twig' %}

{% block nav %}
	{% include 'nav_equipe.html.twig' %}
{% endblock %}


{% block title %}Hello
{% endblock %}

{% block body %}

	<h5>Présences</h5>
	<h3>Salut,
		{{ app.user.person.prenom }}!
	</h3>
	<h4>Equipe {{ equipe.getNom }}</h4>
	<h5>{{ start|date("d/m/Y")}}</h5>
	<h5>{{ title }}</h5>


    {# pour afficher les présences pour la date spécifique #}
    <div class="centre">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					{% for etat in etats %}
						<th>{{ etat }}</th>
					{% endfor %}
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for joueurId, joueurData in result %}
					<tr>
					<th>{{ joueurData.nom }}
                    {{ joueurData.prenom }}</th>
                    {% for etat, count in joueurData.presences %}
                        <td>{{ count }}</td>
                    {% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<input
	class="btn btn-lg btn-danger espace" type="submit" value="Excel">
{% endblock %}
