{% extends "base.html.twig" %}


{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container-lg">

		{% if app.user %}
			<div
				class="mb-3">{# You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a> #}
			</div>
		{% endif %}

		<div>
			<h2 class="h2">
				Salut {{ app.user.prenom }} !</h2>
		</div>
		<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
		
			{{ dump(equipesCoachesJson) }}

			{# <button type="button" class="btn btn-primary">{{ app.person.getequipecoach }}</button>
		</div>

	{% endblock %}
