{% extends 'base.html.twig' %}

{% block body %}

	<h5>Présences</h5>
    <h3>Salut,
		{{ app.user.person.prenom }}!
	</h3>
	{# <h4>Equipe {{ nomEquipe }}</h4> #}


	<div class="centre">
		<table class="table">
            <thead>
                <th></th>
                <td></td>
                {% for etat in etats %}
                    <th>{{ etat }}</th>
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <th>{{ joueur.prenom ~ ' ' ~ joueur.nom  }}</th>
                    <td>
                        {% for etat in etats %}
                            <td>{{ presenceEtat [etat] }}</td>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="list-group">
            <li class="list-group-item">P Présent</li>
            <li class="list-group-item">A absent sans motif</li>
            <li class="list-group-item">E Excusé pour l'absence</li>
            <li class="list-group-item">B blessé ou malade</li>
            <li class="list-group-item">R renfort dans une autre équipe</li>
        </ul>
    </div>
	{# <a href="{{ path('equipe_list', { 'id': joueur.equipe.id }) }}">Retour à la liste des joueurs</a> #}
{% endblock %}
