{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block body %}

	<h5>Présences</h5>
    <h3>Salut,
		{{ app.user.person.prenom }}!
	</h3>
	<h4>Equipe {{ nomEquipe }}</h4>
    <h3>{{ joueur.nom }} {{ joueur.prenom }}</h3>

    <div class="centre">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Dates</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                {% for presence in presences %}
                    <tr>
                        <th> {{ presence.title }} </th>
                        <td> {{ presence.date|date('Y-m-d') }}</td>
                        <td>{{ presence.etat }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="centre">
		<table class="table">
            <thead>
                <th></th>
                <td></td>
                {% for etat in etats %}
                    <th></th>
                    <th>{{ etat }}</th>
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <th>Total</th>
                    

                    <td>
                        {% for etat in etats %}
                            <td></td>
                            <td>{{ presenceEtat [etat] }}</td>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
        <ul class="list-group">
            <li class="list-group-item">P Présent</li>
            <li class="list-group-item">A absent sans motif</li>
            <li class="list-group-item">E Excusé pour l'absence</li>
            <li class="list-group-item">B blessé ou malade</li>
            <li class="list-group-item">R renfort dans une autre équipe</li>
        </ul>
    </div>
{% endblock %}