{% extends 'base.html.twig' %}

{% block nav %}
	{% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block title %}Hello Admin!
{% endblock %}


{% block body %}
{% block content %}


<h5>Admin</h5>
<h3>Salut,
	{{ app.user.person.prenom }}!
</h3>

<div class="centre">
	<a href="{{ path('addForm_personne') }}">
		<button type="button" class="btn add btn-danger">+ joueur/coach</button>
	</a>
	&emsp;
	<a href="{{ path('form_equipe_admin') }}">
	<button type="button" class="btn add btn-danger">+ équipe</button>
</a>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">prénom</th>
			<th scope="col">nom</th>
			<th scope="col">contact1</th>
			<th scope="col">contact2</th>
			<th scope="col">date de naissance</th>
			<th scope="col">equipe/coach</th>
			<th scope="col">equipe/joueur</th>
		</tr>
	</thead>
	<tbody>
		{% for personne in personnesWithDetails %}
			<tr>
				<th scope="row">{{ personne.prenom }}</th>
				<th scope="row">{{ personne.nom }}</th>
				<td>{{ personne.contact1 }}</td>
				<td>{{ personne.contact2 }}</td>
				<td>{{ personne.dateNaissance|date('Y-m-d') }}</td>
				<td>
					{% for equipe in personne.equipesCoach %}
						{{ equipe.nom }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{% for equipe in personne.equipesJoueur %}
						{{ equipe.nom }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</td>
				<td>
					<button type="button" class="btn btn-dark">modifier</button>
				</td>
			</tr>
		</a>
	</tbody>
</td></tr>{% endfor %}</tbody></table></div>{% endblock %}{% endblock %}
