{% extends 'base.html.twig' %}

{% block title %}Hello {{ equipe.getCategorieAge }} {{ equipe.getCategorieGenre }} {{ equipe.getNom }}{% endblock %}

{% block body %}
    <h4>{{ equipe.getCategorieAge }} {{ equipe.getCategorieGenre }} {{ equipe.getNom }}</h4>

    <ul class="list-group">
        {% for joueur in joueurs %}
        <li class="list-group-item">{{ joueur.getPrenom }} {{ joueur.getNom }}/li>
        {% endfor %}
    </ul>

    <a href="{{ path('equipe_list', {'categorieAge': equipe.getCategorieAge, 'categorieGenre': equipe.getCategorieGenre, 'nom': equipe.getNom}) }}">
        Retour à la liste des équipes
    </a>


{% endblock %}
