{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}

	<h3>Salut,
		{{ app.user.person.prenom }}!
	</h3>
	<h4>Equipe
		{{ nomEquipe }}</h4>


	<div class="centre">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					{% for etat in etats %}
						<th>{{ etat }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for joueur, presenceCount in result %}
					<tr>
						<td>{{ joueur }}</td>
						{% for etat in etats %}
							<td>{{ presenceCount[etat] }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	{# <a href={{ path('home_admin') }}> retour à la liste des équipes </a> #}

{% endblock %}
