{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

{{ form_start (formEvenement) }}
{{ form_widget (formEvenement) }} 


    <h3>Salut, {{ app.user.person.prenom }}! </h3>
    <h4>Equipe {{ equipe.nom }}</h4>
    {# <h4>Date {{ 'date' }}</h4> #}

    

        <div class="centre">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">*</th>
                        <th scope="col">P</th>
                        <th scope="col">A</th>
                        <th scope="col">E</th>
                        <th scope="col">B</th>
                        <th scope="col">R</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipesJoueur in listeJoueurs %}
                        <tr>
                            <th scope="row">{{ equipesJoueur.nom }} {{ equipesJoueur.prenom }}</th>
                            <td>
                                <div class="form-check present">
                                    <input class="form-check-input" type="radio" name="radio_group_{{ loop.index }}" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="1"></label>
                            </td>
                            <td>
                                <div class="form-check absent">
                                    <input class="form-check-input" type="radio" name="radio_group_{{ loop.index }}" id="exampleRadios2" value="option2" checked>
                                    <label class="form-check-label" for="2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check excuse">
                                    <input class="form-check-input" type="radio" name="radio_group_{{ loop.index }}" id="exampleRadios3" value="option3" checked>
                                    <label class="form-check-label" for="3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check blesse">
                                    <input class="form-check-input" type="radio" name="radio_group_{{ loop.index }}" id="exampleRadios4" value="option4" checked>
                                    <label class="form-check-label" for="4"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check renfort">
                                    <input class="form-check-input" type="radio" name="radio_group_{{ loop.index }}" id="exampleRadios5" value="option5" checked>
                                    <label class="form-check-label" for="5"></label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Enregistrer">
        </div>


    {# <a href={{ path('calendrier') }}> retour au calendrier </a> #}

    {{ form_end (formEvenement) }}

{% endblock %}