{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}


	<h3>Salut,
		{{ app.user.person.prenom }}!
	</h3>
	<h4>Equipe
		{{ equipe.nom }}</h4>


	<div class="centre">
		<table class="table">
			
			<tbody>
				{{ form_start (formEvenement) }}


				{{ form_row (formEvenement.title) }}
				{{ form_row (formEvenement.start) }}

				{# {{ form_row (formEvenement.end) }} #}

				{{ form_row (formEvenement.equipe) }}

				<tr>
					<th scope="col">*</th>
					<th scope="col">P</th>
					<th scope="col">A</th>
					<th scope="col">E</th>
					<th scope="col">B</th>
					<th scope="col">R</th>
				</tr>

				{# {{ dump (joueur) }} #}
				{% for formPresence in formEvenement.presences %}
                {# obtenir les donnees de l'entite liee au formulaire, on peut acceder a tout  #}
					{% set nomJoueur = formPresence.vars.data.joueur.nom %}
					{{ nomJoueur}} {{ form_widget (formPresence.etat) }}
					
                    {{ form_widget (formPresence.joueur) }}

				{% endfor %}

				<input class="btn btn-lg btn-danger" type="submit" value="Enregistrer">

				{{ form_end (formEvenement, {render_rest: false}) }}

	{# <a href={{ path('calendrier') }}> retour au calendrier </a> #}

{% endblock %}
