{% extends 'base.html.twig' %}

{% block nav %}
	{% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<h5>Présences</h5>
	<h3>Salut,
		{{ app.user.person.prenom }}!
	</h3>
	{# <h4>Equipe {{ equipe.nom }}</h4> #}


	<div class="centre">
		<table class="table espace">
			<thead>
				<tr>
					<th scope="col">*</th>
					<th scope="col">P &emsp;A &emsp;E &emsp;B &emsp;R &emsp;</th>
				</tr>
			</thead>
				{{ form_start (formEvenement) }}
				<div class="espace">
					{{ form_row (formEvenement.start) }}
				</div>

				<div class="espace">
					{{ form_row (formEvenement.title) }}
				</div>


				{{ form_row (formEvenement.equipe) }}

			<tbody>

				{# {{ dump (joueur) }} #}

				{% for formPresence in formEvenement.presences %}
                {# obtenir les donnees de l'entite liee au formulaire, on peut acceder a tout  #}
					{% set nomJoueur = formPresence.vars.data.joueur.nom %}
					{% set prenomJoueur = formPresence.vars.data.joueur.prenom %}
				<tr>
					<th>{{ prenomJoueur}} {{ nomJoueur}}</th> 
					<td>{{ form_widget (formPresence.etat) }}</td>
                    <td>{{ form_widget (formPresence.joueur) }}</td>
				</tr>
				{% endfor %}
			</tbody>	
		</table>

				<input class="btn btn-lg btn-danger espace" type="submit" value="Enregistrer">

				{{ form_end (formEvenement, {render_rest: false}) }}
{% endblock %}
