{% extends 'base.html.twig' %}

{% block nav %}
	{% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block title %}Hello Admin!
{% endblock %}


{% block body %}

	<h3>Salut,
		{{ app.user.person.prenom }}!

	</h3>
	<div class="centre">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">nom</th>
					<th scope="col">numero</th>
					<th scope="col">genre</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<th scope="row">{{ equipe.nom }}</th>
						<td>{{ equipe.numeroEquipe }}</td>
						<td>{{ equipe.categorieGenre }}</td>
						<td>
							<a href="{{ path ('equipe_update', {id: equipe.id} ) }}">
							<button type="button" class="btn btn-dark">modifier</button>
							</a>
						</td>
						<td>
							<a href="{{ path ('equipe_delete', {id: equipe.id} ) }}"><button type="button" class="btn btn-dark">supprimer</button></a>
						</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}
