{% extends 'base.html.twig' %}

{% block nav %}
	{% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block title %}Salut Admin!
{% endblock %}

{% block body %}
	{% block content %}
		<h5>Admin</h5>
		<h3>Salut,{{ app.user.person.prenom }}!
		</h3>
		<h5>Ajouter un.e joueureuse ou un.e coach</h5>
		{{ form_start(formPersonne) }}
		{{ form_widget(formPersonne) }}
		{# <div class='form-group'>
			{{ form_label(formPersonne.prenom) }}
			{{ form_widget(formPersonne.prenom) }}

			{{ form_label(formPersonne.nom) }}
			{{ form_widget(formPersonne.nom) }}
			{{ form_label(formPersonne.contact1) }}
			{{ form_widget(formPersonne.contact1) }}
			{{ form_label(formPersonne.contact2) }}
			{{ form_widget(formPersonne.contact2) }}
			{{ form_label(formPersonne.dateNaissance) }}
			{{ form_widget(formPersonne.dateNaissance) }}
			{{ form_label(formPersonne.equipesCoaches) }}
			{{ form_widget(formPersonne.equipesCoaches) }}
			{{ form_label(formPersonne.equipesJoueur) }}
			{{ form_widget(formPersonne.equipesJoueur) }} #}
			<button class="btn btn-lg btn-danger espace" type="submit" value="enregistrer">Ajouter</button>
		{# </div> #}
		{{ form_end(formPersonne) }}


	</div>
{% endblock %}{% endblock %}
