{% block nav %}
	{% if app.user %}
		{% set user = app.user %}
		{% set userRoles = user.getRoles() %}
	{% endif %}

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_login') }}">Salut Coach!</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="{{ path('app_login') }}">login</a>
					<a class="nav-link" href="{{ path('app_logout') }}">deconnexion</a>
					{% if 'ROLE_ADMIN' in userRoles %}
						<a class="nav-link" href="{{ path('home_admin') }}">équipes</a>
						<a class="nav-link" href="{{ path('form_personne') }}">gestion</a>
						<a class="nav-link" href="{{ path('personne_list') }}">joueurs</a>
					{% endif %}
					{% if 'ROLE_COACH' in userRoles %}
						<a class="nav-link" href="{{ path('home_coach') }}">équipes</a>
						<a class="nav-link" href="{{ path('equipe_list', {'id': id_equipe}) }}">présences</a>

					{% endif %}
				</div>
			</div>
		</div>
	</nav>

{% endblock %}
