{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
{% block content %}
    
    {# {% if app.user %}
    {% set Person = app.user.personne %}
    <h1>Bonjour Admin {{ personne.prenom }} !</h1>
    {% endif %} #}

    <h3>Admin</h3>
    <h3>Bienvenue, {{ app.user.username }}! </h3>

    <div class="d-grid gap-2 col-6 mx-auto">
        <ul class="equipe_list">
            {% for equipe in equipes %} 
            {% set equipeLink = path('equipe_list', {'categorieAge': equipe.getCategorieAge, 'categorieGenre': equipe.getCategorieGenre, 'nom': equipe.getNom }) %}  
            <li>
                <a href="{{ equipeLink }}" class="btn btn-outline-dark">{{ equipe.getCategorieAge }} {{ equipe.getCategorieGenre }} {{ equipe.getNom }}
            </li>        
        {% endfor %}
        </ul>
    </div>

{% endblock %}

{% endblock %}
