{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'nav_equipe.html.twig' %}
{% endblock %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendrier') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendrier') }}
{% endblock %}

{% block body %}

    <h5>Présences</h5>
    <h3>Salut {{ app.user.person.prenom }}! </h3>
    <h5>Equipe {{ nom_equipe }}</h5>

    {# on génére data-route-click avec de valeurs dummy (faux). on va les remplacer dans le js 
    par les vraies valeurs #}
    <div id="div_calendrier" data-route-date-click="{{ path ('evenement', { date_evenement: 'dummy_date', id_equipe: 'dummy_id_equipe'}) }}" data-calendrier = "{{ evenementsJSON }}"  data-equipe = {{id_equipe}} class="calendar"></div>
{% endblock %}
